{% load staticfiles %}
<div class="extraneous">
  <div class="container">
    <nav class="navbar nav-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="http://labhackercd.net/"><img class="logo" src="{% static 'themes/casper-child/img/logo.gif' %}" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

          <li>
            <a href="{% url 'index' %}">Blog</a>
          </li>

          <li>
            <a href="http://labhackercd.net/about.html">Sobre</a>
          </li>

          <li class="separator">&nbsp</li>

          <li>
            <a title="E-democracia" class="icon-edemocracia icon" href="http://edemocracia.camara.gov.br/web/laboratorio-hacker"></a>
          </li>

          <li>
            <a title="Hackdash" class="icon-hackdash icon" href="http://labhacker.hackdash.org/"></a>
          </li>

          <li>
          <a title="Github" class="icon-github icon" href="https://github.com/labhackercd/"></a>
          </li>

          <li>
          <a title="Twitter" class="icon-twitter icon" href="https://twitter.com/labhackercd"></a>
          </li>

          <li>
          <a title="Facebook" class="icon-facebook-square icon" href="https://www.facebook.com/LabHackerCD"></a>
          </li>

          <li>
          <a title="Flickr" class="icon-flickr icon" href="https://www.flickr.com/photos/118815643@N04/"></a>
          </li>
        </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>
  </div>
</div>

<header id="masthead" role="banner" class="site-head site-header" >
    <nav id="site-navigation" class="main-navigation" role="navigation">
        <div>
            <h1 class="menu-toggle">
                <a class="icon-menu" href="index.html#">
                    <span class="hidden">Menu</span>
                </a>
            </h1>
            <a class="skip-link screen-reader-text" href="index.html#content">Skip to content</a>
        </div>
    </nav><!-- #site-navigation -->

    <div class="vertical-row">
        <div class="vertical">
            <div class="site-head-content inner">
                <h1 class="blog-title"><a class="blog-logo" href='{% url "index" %}' rel='home'>Blog do Labhacker</a></h1>
                <h2 class="blog-description"></h2>
            </div>
        </div>
    </div>
</header><!-- #masthead -->