    {% extends 'elements/base.html' %}
    {% load threadedcomments_tags %}
    {% block content %}
        <article id="post-1182" class="post-1182 post type-post status-publish format-standard hentry category-sem-categoria">
            <header class="post-header">
                <span class="post-meta">
                <span class="posted-on"><a href="{{ object.get_absolute_url }}" rel="bookmark"><time class="entry-date published" datetime="{{ object.published_at|date:'c' }}">{{ object.published_at|date:'d \d\e F \d\e o' }}</time></a></span><span class="byline"> by <span class="author vcard"><a class="url fn n" href="{% url 'index' %}?author={{ post.user_id }}">{{ post.user }}</a></span></span></span>
                <h1 class="post-title"><a href="{{ object.get_absolute_url }}" rel="bookmark">{{ object.title }}</a></h1>
            </header>
            <section class="post-content">
                {{ object.content|safe }}
            </section>

            <footer class="post-footer">
                <section class="author">
                    {% if post.user.get_photo_thumb %}
                    <img alt='{{ post.user }}' src='{{ post.user.get_photo_thumb }}' class='avatar avatar-100 photo' height='100' width='100' />
                    {% endif %}
                    <h4>{{ post.user }}</h4>
                    <p>{{ post.user.description|default_if_none:'' }}</p>
                    <div class="clear">&nbsp;</div>
                </section>
            </footer>
        </article><!-- #post-## -->

    <div id="comments" class="comments-area">
        <h2 class="comments-title">
            {% get_comment_count for object as object_count %}
            {{ object_count }} comentário{% if object_count > 1 %}s{% endif %} em “<span>{{ object.title }}</span>”
        </h2>

        {% get_comment_list for object as comment_list root_only %}
        <ol class="comment-list">
            {% for comment in comment_list %}
            <li id="comment-{{ comment.id }}" class="comment even thread-even depth-1 parent">
                <article id="div-comment-1256" class="comment-body">
                    <footer class="comment-meta">
                        <div class="comment-author vcard">
                            <b class="fn">{{ comment.user_name }}</b> <span class="says">disse:</span>
                        </div><!-- .comment-author -->

                        <div class="comment-metadata">
                            <a href="{{ object.get_absolute_url }}#comment-{{ comment.id }}">
                                <time datetime="{{ comment.submit_date|date:'c' }}">
                                    {{ comment.submit_date }}
                                </time>
                            </a>
                        </div><!-- .comment-metadata -->

                    </footer><!-- .comment-meta -->

                    <div class="comment-content">
                        <p>{{ comment.comment }}</p>
                    </div><!-- .comment-content -->
                    {% render_comment_form for object with comment.id %}
                </article><!-- .comment-body -->
                {% if comment.children %}
                <ol class="children">
                    {% for reply in comment.children.all %}
                    <li id="comment-{{ reply.id }}" class="comment byuser comment-author-diego-cunha bypostauthor odd alt depth-2">
                        <article id="div-comment-106" class="comment-body">
                            <footer class="comment-meta">
                                <div class="comment-author vcard">
                                    <b class="fn">{{ reply.user_name }}</b> <span class="says">disse:</span>
                                </div>
                                <div class="comment-metadata">
                                    <a href="{{ object.get_absolute_url }}#comment-{{ reply.id }}">
                                        <time datetime="{{ reply.submit_date|date:'c' }}">
                                            {{ reply.submit_date }}
                                        </time>
                                    </a>
                                </div><!-- .comment-metadata -->

                            </footer><!-- .comment-meta -->

                            <div class="comment-content">
                                <p>{{ reply.comment }}</p>
                            </div><!-- .comment-content -->
                        </article>
                    </li><!-- #comment-## -->
                    {% endfor %}
                </ol>
                {% endif %}
            </li><!-- #comment-## -->
            {% endfor %}
        </ol>
        {% render_comment_form for object %}
    </div>

        <nav class="pagination navigation post-navigation" role="navigation">
            <div class="nav-links">
                {% if prev_post.0 %}
                <div class="older-posts">
                    <a href="{{ prev_post.0.get_absolute_url }}" rel="prev">
                        {{ prev_post.0.title|truncatechars:48 }} <span class="meta-nav">→</span>
                    </a>
                </div>
                {% endif %}
                {% if prev_post.0 and next_post.0 %}
                <div class="page-number">•</div>
                {% endif %}
                {% if next_post.0 %}
                <div class="newer-posts">
                    <a href="{{ next_post.0.get_absolute_url }}" rel="next">
                        <span class="meta-nav">←</span> {{ next_post.0.title|truncatechars:48 }}
                    </a>
                </div>
                {% endif %}
            </div>
        </nav><!-- .navigation -->

        <div id="secondary" class="widget-area" role="complementary">
            <div class="clear">&nbsp;</div>
        </div><!-- #secondary -->

        <footer id="colophon" class="site-footer" role="contentinfo">
            <a class="subscribe icon-feed" href="index.html?feed=rss2"><span class="tooltip">Subscribe!</span></a>
            <div class="site-info inner">
                <section class="copyright">
                    <a href="https://github.com/lacymorrow/casper-wp" rel="home">Casper WP</a> by Lacy Morrow
                </section>
            </div><!-- .site-info -->
        </footer><!-- #colophon -->
    {% endblock %}